:root{
    --primary-text-color: #757575;
    --title-text-color: #212121;
    --accent-color: #2196F3;
    --primary--white-color: #FFFFFF;
    --button-active-color: #188CEB; 
    --iconka-links: #AFB1B8; 
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

img {
    display: block;
}

body{    
    font-family: 'Roboto', sans-serif;
    background-color: var(--primary--white-color);
    color: var(--primary-text-color);
    margin: 0;    
}

/*.cursors {
    display: flex;
    flex-wrap: pointer;
*/

.list {
    list-style: none;
    margin: 0;
    padding: 0;
}
/*ul {
    list-style: none;
        
}*/

.container {     
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
    /*outline: 2px solid red; */ 
}

   


/*-------------header-nav--------------*/

.header {
    display: flex;
    align-items: center;
    margin:0 auto;
    padding-top: 24px;
    padding-bottom: 25px;
    border-bottom: 1px solid #ECECEC;
}



.logo {
    display: block;    
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.1923;
    letter-spacing: 0.03em;
    color: var(--accent-color);
    text-decoration: none;
    margin-right: 93px;
        
}

.logo-studio {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.1923;
    letter-spacing: 0.03em;
    color: #000000;
}

.nav{    
    /*width: 100%;*/
    margin-right: auto;

}

.header-nav{ 
    display: flex;
    align-items: center;
    margin-right: auto;
    gap: 50px;
}

.header-container {
    display: flex;
    align-items: center;
    /*justify-content: center;*/
}

.auth-nav {
    display: flex;
    padding: 0;
    margin: 0;
    align-items: center;
    gap: 30px;
    margin-left: auto;      
}

.item-auth{
    display: flex;
    align-items: center;
}

.icon-mail{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-right: 10px;
       
}


.header-nav a,
.auth-nav a,
.footer .link-mail,
.footer .link-tel {
    text-decoration: none;
}

.header-nav .link {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.1428;
    letter-spacing: 0.02em;
    color: var(--title-text-color);    
}

.header-nav .link:hover,
.header-nav .link:focus,
.header-nav .link.current {
    color: var(--accent-color);
}


/* .header-nav .link:active {
    color: #000000;
}
 */


.link-mail {    
    font-weight: 500;
    font-size: 14px;
    line-height: 1.1428;
    letter-spacing: 0.02em;
    color: var(--primary-text-color);
    align-items: center;
}

.link-mail:hover,
.link-mail:focus{
    color: var(--accent-color);
}



.icon-mail:hover,
.icon-mail:focus {
    fill: var(--accent-color);
}

.link-tel {
    display: flex;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.1428;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    color: var(--primary-text-color);
}
.link-tel::before{
    content: "";
    width: 10px;
    height: 16px;
    display: block;
    background-image: url(../images/smartphone.svg);
    background-repeat: no-repeat;
    align-items: center;
    margin-right: 10px;


}



.auth-nav .link-tel:hover ,
.auth-nav .link-tel:focus {
    color: var(--accent-color);
}
    



/*.auth-nav {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.1428;
    letter-spacing: 0.02em;
    color: var(--accent-color);
    text-decoration: none;
}

/*-----------------------Header--------------------*/









/*--------------Hero-------------*/
.hero {
    max-width: 1600px;
    height: 600px;
    margin: 0 auto;
    background-color: #2F303A;
    background-image: linear-gradient(
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
        ),
    url(../images/header-img.jpg);
    background-repeat: no-repeat;
    background-position: center;
    text-align: center;    
    padding-top: 200px;
    padding-bottom: 200px;              
} 

.hero-container{    
    align-items: center;

}

.hero-title{    
    width: 693px;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.3636;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    align-items: center; 
    color: #FFFFFF;    
    margin:0 auto;
    margin-bottom:  30px;
}


/*Buttom*/
/*
.button{
    color: var(--title-text-color);
    background-color: var(--primary--white-color);
}
.button.primary {
    color: var(--primary--white-color);
    background-color: var(--accent-color);
}
.button.secondary{
    color: var(--accent-color);
    background-color: var(--primary--white-color);
}

.button: hover,
.button: footer {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.625;
    letter-spacing: 0.03em;
    color: var(--title-text-color);
    background: var(--button-active-color) ;
}*/





 .button-hero {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.8750;   
    align-items: center;
    letter-spacing: 0.06em;
    border-color: transparent;
    border-radius: 4px;
    background-color: var(--accent-color);
    color: var(--primary--white-color); 
    cursor: pointer ;    
    padding: 10px 32px;   
}


.button-hero:hover,
.button-hero:focus {
    background-color: var(--button-active-color);
}








.section-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.166;
    text-align: start;
    letter-spacing: 0.03em;
    color: var(--title-text-color);
}

.title-section {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.1428;
    letter-spacing: 0.03em;
    text-transform: uppercase; 
    justify-content: start;                                         
    color: var(--title-text-color);
    margin-bottom: 10px;
}

.text-section {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.7142;   
    letter-spacing: 0.03em;    
    color: var(--primary-text-color);
}

/*---------------Особливості---------------*/
/*.feature-list .title {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.1428px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--title-text-color);
}
*/
.section,
.portfolio {
    padding: 94px 0;
}



.list-section {
    display: flex;
    align-items: start;
    gap: 30px;
}


.item-section {
    display: block;
    flex-basis: calc((100% - 90px) / 4);
}

.item-section::before{
    display: block;   
    content: "";      
    height: 120px;
    background: #F5F4FA;
    border-radius: 4px;    
    background-repeat: no-repeat;
    background-size: 70px 70px;
    background-position: center;
    margin-bottom: 30px;
}

.icon-antenna::before{
    background-image: url(../images/antenna.svg);
}
.icon-clock::before{
    background-image: url(../images/clock.svg);
}
.icon-diagram::before{
    background-image: url(../images/diagram.svg);
}
.icon-astronaut::before{
    background-image: url(../images/astronaut.svg);
}
/*--------------Чим ми займаємось--------------*/
.profile {
    padding-top: 0;   
}


.section-profile {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.166;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--title-text-color);    
    margin-bottom: 50px ;
}

 

.container-profile {
    display: flex;
    align-items: start;
    gap: 30px;
    padding-bottom: 94px;
}


.link-profile {
    display: block;
    flex-basis: calc((100% - 60px) / 3);
}
/*---------------Наша команда---------------*/
.teams {
    background: #F5F4FA;
}

.teams-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.166;
    text-align: center;
    letter-spacing: 0.03em;   
    color: var(--title-text-color);
    margin-bottom: 50px;   
}

.container-teams {
    display: flex;
    align-items: start;
    gap: 30px;
}
.link-teams {
    background: #FFFFFF;    
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;    
    display: block;
    flex-basis: calc((100% - 90px) / 4);
}

.section-teams {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1,1875;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--title-text-color);    
    margin-bottom: 10px;
}
.teams-tetle{
    padding: 30px 0;
}

.text-teams {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.1875;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--primary-text-color);
    margin: 16px;
}

.teams-list{
    display: flex;
    justify-content: center;
    gap: 10px;

}

.teams-item{
    width: 44px;
    height: 44px;

}
.teams-link{
    width: 100%;
    height: 100%;
    background-color:var(--primary--white-color);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.teams-icon{
    fill: var(--iconka-links);
}
.teams-icon:hover,
.teams-icon:focus{
    fill:var(--primary--white-color);
}

.teams-link:hover,
.teams-link:focus{
    background-color: var(--accent-color);
}

.teams-link:hover .teams-icon,
.teams-link:focus .teams-icon{
    fill:var(--primary--white-color);
}


/*----------------------Наші клієнти----------------------*/

.klient-title {
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 1,1666;
    text-align: center;
    letter-spacing: 0.03em;    
    color: var(--title-text-color);
    margin-bottom: 50px;    
}


.container-klient {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;    
}  
    



 
/*---------------Footer-------------------*/

.footer {
    background-color:#2F303A;
    padding: 60px 0;
    
}

/*.footer-container {
    
}*/

.container-logo{    
    display: block;
    margin-top: 0;
    margin-bottom: 20px;   
}

/*
.container-adres-footer{    
   
}*/

.logofooter {
    display: inline-block;
    width: 145px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.1923;
    letter-spacing: 0.03em;
    color: var(--accent-color);
    text-decoration: none;    
}


.logo-footer {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.1923;
    letter-spacing: 0.03em;
    color: var(--primary--white-color);
    margin-top: 60px;

}

.item-footer {
    display: inline-block;
    font-weight: 400;
    font-style: normal;
    font-size: 14px;    
    line-height: 1.7142;
    letter-spacing: 0.03em;
    color: var(--primary--white-color);    
}

.footer-link li:not(:last-child){
    margin-bottom: 9px;
    
    
}

/*
    margin-bottom: 0;
}*/

.footer-link > li{
    
}

.link-mail-footer {
    display: inline-block;
    font-weight: 400;
    font-style: normal;
    font-size: 14px;
    line-height: 1.7142;
    letter-spacing: 0.03em;
    text-decoration: none;  
    color: rgba(255, 255, 255, 0.6);
    
}    

.link-tel-footer {
    font-weight: 400;
    font-style: normal;
    font-size: 14px;
    line-height: 1.7142;
    letter-spacing: 0.03em;
    text-decoration: none;
    color: rgba(255, 255, 255, 0.6);
    
}

.item-footer:hover,
.link-mail-footer:hover,
.link-tel-footer:hover {
    color: var(--button-active-color);
}

.item-footer:focus,
.link-mail-footer:focus,
.link-tel-footer:focus {
    color: var(--button-active-color);
}
/*--     Potrfoliuo    --*/

.container-filter-portfolio {
    padding-bottom: 16px;
}


.container-portfolio {
    padding-top: 34px;
}


.button-portfolio {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.625;
    text-align: center;
    letter-spacing: 0.03em;
    padding: 6px 22px;
    background: #F5F4FA;
    border-radius: 4px;
    color: var(--title-text-color);
    cursor: pointer;
}



.button-portfolio:hover,
.button-portfolio:focus {
    
    background-color: var(--accent-color);
    color: var(--primary--white-color);
}





.portfolio-filters { 
    display: flex;     
    justify-content: center;
    gap: 8px;
    margin-bottom: 50px;    
}


 .button-portfolio {
    background: #F5F4FA;
    border-radius: 4px;
    border-color: transparent;    
    align-items: center;
    flex-basis: calc(100%-32 / 5);
}

.section-portfolio {
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: var(--title-text-color);
    margin-bottom: 4px;
}



.text-portfolio {
    font-size: 16px;
    line-height: 1.875;
    letter-spacing: 0.03em;
    color: var(--primary-text-color);
}
.items-portfolio {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}


.link-portfolio{
    background: var(--primary--white-color);
    width: calc((100% - 60px) / 3) ;
    /*border: 1px solid #EEEEEE;*/  

}

.tetle-portfolio{
    display: block;
    padding: 20px 24px;
    border: 1px solid #EEEEEE;
    border-top: 0;
    
}